* {
  color: #fff
}
h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}
button, button a {
  color: #122d49
}
a:link {
  text-decoration: none;
}
button {
  background-color: #1fb4d7;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: #121323 1px solid;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
